/* change the font to roboto */
body {
    font-family: 'roboto';
    background-color: pink;
}

.image-container {
    position: relative;
}


.overlay-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
}

.card-body a {
    margin-bottom: 10px;
}

.footer {
    font-size: 24px
}

h4{
    text-align: center
}